h1{
color: brown;
text-align: center;
background-color: blueviolet;
border: 2px solid #000000;
border-radius:20px 10px 22px 40px;
position:relative;
justify-content: center;
}
p{
   color: chartreuse; 
   text-align: center;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}